CONTAINSTARGETS=containstargets.yml
FASTDIFF=false
IGNORE=ignore.yml
RUNCONTAIN=true
RUNDIFF=true
RUNWPPOSTS=true
SAVECONFIG=true
SAVEDIFF=false
TARGETS=targets.yml
VERBOSE=false
WAITTIME=5m
WPTARGETS=wptargets.yml